body, html {
  height: 100vh;
}

body {
  font-family: 'Roboto',sans-serif;
  color: #22222b;
}

.text-center {
  text-align: center;
}

.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  background-image: url(../img/fon-portfolio.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 79%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  margin-left: 23px;
}

.nav-link {
  color: #22222b;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-link:hover {
  border-bottom: 1px solid #22222b;
}

.title-h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 300;
}

.title-h1 span {
  font-weight: 500;
}

.title-h2 {
  font-size: 28px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 16px;
}

.title-h3 {
  font-size: 20px;
  font-weight: 400;
}

.btn-scroll {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
}

.section-about {
  padding-top: 240px;
  padding-bottom: 120px;
}

.section-about .title-h2 {
  margin-bottom: 16;
}

.box-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-about-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 44%;
  position: relative;
}

.box-about-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 45%;
}

.box-about_back {
  position: absolute;
  z-index: -1;
  left: 0;
  top: -108px;
}

.box-about_vertical {
  position: absolute;
  left: 0;
  left: 115px;
  letter-spacing: 0px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 58px;
  top: 150px;
  font-size: 16px;
}

.box-about_vertical::after {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  background-color: #22222b;
  position: absolute;
  right: 10px;
  top: 85px;
}

.box-about_text {
  color: #7f7f82;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 48px;
}

.progress-bar-text {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
}

.progress-bar-line {
  width: 100%;
  height: 2px;
  background-color: #22222b;
  position: relative;
}

.progress-bar-line::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  background-color: #f2f2f2;
}

.progress-bar--in::after {
  width: 35%;
}

.progress-bar--xd::after {
  width: 20%;
}

.section-services {
  background-color: #faf9fe;
  padding-bottom: 120px;
}

.title-h21 {
  font-size: 28px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.after-title {
  font-size: 16px;
  color: #7f7f82;
}

.service {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-bottom: 30px;
}

.service-item:hover .service_link-text {
  width: inherit;
  opacity: 1;
  padding-right: 9px;
}

.service_text {
  color: #7f7f82;
  font-size: 14px;
  line-height: 1.5;
}

.service_link {
  color: #22222b;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20 0;
}

.service_link-text {
  opacity: 0;
  width: 0;
  padding-right: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.service_link-line {
  display: block;
  width: 25px;
  height: 1px;
  background-color: #22222b;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: repeat(7, 1fr)/1fr 1fr 1fr;
  grid-gap: 40px;
}

.portfolio-01 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.portfolio-02 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.portfolio-03 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.portfolio-04 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3/8;
}

.portfolio-05 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/8;
  margin-top: -38px;
}

.portfolio-06 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3/8;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.btn {
  color: #fff;
  background-color: #22222b;
  font-size: 16px;
  text-decoration: none;
  padding: 20px 0;
}

.section-banner {
  padding-top: 72px;
  padding-bottom: 113px;
  background-color: #22222b;
  color: #fff;
  text-align: center;
}

.section-banner .before-title {
  font-size: 22px;
  margin-bottom: 12;
}

.section-banner .title-h2 {
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 42px;
}

.section-banner .btn {
  color: #22222b;
  background-color: #fff;
  padding: 11px 57px;
}
/*# sourceMappingURL=style.css.map */